.iconButton {

  height: 18px;
  width: 18px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position-y: center;
  border: none;
  border-radius: 50%;
  outline: none;

cursor: pointer;
}

.tooltipContent {
  min-width: 150px;
  padding: 2px 3px;

  background-color: #ffffff;
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 12px;
}
